{{#if formSubmitted}}
  {{loading-spinner}}
{{else}}
  <button
    {{action 'destroy' target='view.parentView'}}
    class="button-secondary"
    data-test="button-destroy"
  >
    <span class="icon-delete"></span>
    <span class="text">{{destroyText}}</span>
  </button>
{{/if}}
