<h2 id="title">ember-easy-form-extensions</h2>
<dl>
  <dt>Current path</dt>
  <dd>{{currentPath}}</dd>
</dl>

<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
  <li>{{#link-to 'posts.new'}}New post{{/link-to}}</li>
  <li>{{#link-to 'post.edit' 1}}Edit post{{/link-to}}</li>
</ul>

{{outlet}}
