{{label-field propertyBinding="view.property" textBinding="view.label"}}
<div class="input_wrapper">
{{#if view.isDatepicker}}
  {{input id=view.datepickerInputId class="datepicker input"}}
{{/if}}
  {{partial "easyForm/inputControls"}}
</div>
